<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocationAccuracyAuthorizationDescription</key>
	<string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TruckNav Pro needs your location to provide turn-by-turn truck navigation and display your position on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>TruckNav Pro needs your location to provide turn-by-turn truck navigation, even when the app is in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TruckNav Pro needs continuous location access to provide turn-by-turn navigation in the background.</string>
	<key>NSMotionUsageDescription</key>
	<string>TruckNav Pro uses motion data to improve heading accuracy and camera following while driving.</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZHRyZXZvbjJrMjAiLCJhIjoiY21obGZzb2ppMWwxazJqcHRpaTJhbTZnciJ9.vTBrfzWDPi4DQ86JEKULiA</string>
	<key>OpenWeatherKey</key>
	<string>94322543c4bfedf6461d4457cb99529c</string>
	<key>TomTomAPIKey</key>
	<string>Nq78WMNfPT4Xvm8jV7KiYGp6nb55VDkO</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
</dict>
</plist>
